---
layout: layouts/pages.njk
title: About Us
---

        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(/images/banner/bnr2.jpg);">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">{{ title }}</h1>
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- Breadcrumb row -->
        <div class="breadcrumb-row">
            <div class="container">
                <ul class="list-inline">
                    <li><a href="#">Home</a></li>
                    <li>{{ title }}</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb row END -->
        <!-- contact area -->
        <div class="clearfix">
            <!-- Our Awesome Services -->
            <div class="section-full bg-white content-box content-inner">
                <div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-12 m-b30">
							<img src="/images/about/croc01.jpeg" alt="" class="img-cover">
						</div>
						<div class="col-lg-6 col-md-12 m-b30 align-self-center">
							<h2 class="h2 mt-0 p-b20">Convert your wood<span class="text-primary"> into a furniture!</span></h2>
							<div class="p-b20 font-18"><i>We pride ourselves at helping your wood ideas come to life. ..</i></div>
							<p>Here we make any wood furniture from start to finish, most made form teak wood which is good quality.</p>
							<a href="#" class="site-button">Read More</a>
						</div>
					</div>
					<div class="dez-divider bg-gray-dark mt-0"></div>
					<div class="row">
						<div class="col-lg-6 col-md-12 m-b30 align-self-center">
							<h2 class="h2 mt-0 p-b20">Our wood furniture can make you <span class="text-primary"> happy….deeply!</span></h2>
							<div class="p-b20 font-18"><i>Try to make and design your own dog house. ..</i></div>
							<p>Pick your wood furniture in different colors accoding to what you want.</p>
							<a href="#" class="site-button">Read More</a>
						</div>
						<div class="col-lg-6 col-md-12 m-b30">
							<img src="/images/about/croc02.jpeg" alt="" class="img-cover">
						</div>
					</div>
				</div>
            </div>
            <!-- Our Awesome Services END -->



        </div>
