---
layout: layouts/home.njk
---

<div class="page-content">
    {% include "components/slider.njk" %}
	{% include "components/about.njk" %}
	{% include "components/appointment.njk" %}
	{% include "components/team.njk" %}
	{% include "components/service.njk" %}
	{% include "components/testimonial.njk" %}
	{% include "components/blog.njk" %}
</div>