<!-- About Us -->
<div class="section-full about-us bg-white content-inner dez-about">
    <div class="container">
        <div class="tab-content">
            <div class="row">
                <div class="col-lg-5 about-img m-b30">
                    <img src="images/croc01.jpeg" alt=""/>
                </div>
                <div class="col-lg-7">
                    <div class="m-b20">
                        <h3 class="h3 ">Welcome To <span class="text-primary">Croc Furniture</span></h3>
                        <div class="clear"></div>
                    </div>
                    <p class="m-b30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 m-b15">
                            <div class="icon-bx-wraper bx-style-1 p-tb15 p-lr10 center dashed">
                                <div class="icon-bx-sm text-primary radius border-1 m-b5 dashed"> <a href="#" class="icon-cell"><i class="fa fa-user"></i></a> </div>
                                <div class="icon-content">
                                    <h5 class="h5 text-primary m-t10 m-b5"><span class="counter">1800</span>+</h5>
                                    <p>Gardener & Workers</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 m-b15">
                            <div class="icon-bx-wraper bx-style-1 p-tb15 p-lr10 center dashed" >
                                <div class="icon-bx-sm text-primary radius border-1 m-b5 dashed"> <a href="#" class="icon-cell"><i class="fa fa-industry"></i></a> </div>
                                <div class="icon-content">
                                    <h5 class="h5 text-primary m-t10 m-b5"><span class="counter">620</span>+</h5>
                                    <p>Tree Planting</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 m-b15">
                            <div class="icon-bx-wraper bx-style-1 p-tb15 p-lr10 center dashed">
                                <div class="icon-bx-sm text-primary radius border-1 m-b5 dashed"> <a href="#" class="icon-cell"><i class="fa fa-tasks"></i></a> </div>
                                <div class="icon-content">
                                    <h5 class="h5 text-primary m-t10 m-b5"><span class="counter">1527</span>+</h5>
                                    <p>Projects Completed</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="m-b15">Here we make and sale of kinds of furniture, indoor and outdoor all you need.</p>
                    <a href="#" class="site-button m-b30">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Us END -->
