<!-- Latest Blog -->
<div class="section-full bg-white content-inner-1 blog-1">
    <div class="container">
        <div class="section-head text-center ">
            <h3 class="h3 text-uppercase">Recent <span class="text-primary">Blog</span></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
        </div>
        <div class="section-content owl-none">
            <div class="blog-carousel owl-carousel owl-none">
                <div class="item">
                    <div class="dez-box">
                        <div class="dez-media"> 
                            <a href="#" class="text-primary"><img src="images/our-services/service/pic2.jpg" alt=""></a> 
                        </div>
                        <div class="dez-info p-a20 border-1">
                            <ul class="blog-info text-primary">
                                <li>By <a href="#" title="Posts by demongo" rel="author">Demongo</a> </li>
                                <li><span>17 Mar 2016</span> </li>
                            </ul>
                            <h4 class="dez-title m-t0"><a href="#">Earn landscaping Award </a></h4>
                            <p class="m-a0">Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer...</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="dez-box">
                        <div class="dez-media"> 
                            <a href="#" class="text-primary"><img src="images/our-services/service/pic3.jpg" alt=""></a> 
                        </div>
                        <div class="dez-info p-a20 border-1">
                            <ul class="blog-info text-primary">
                                <li>By <a href="#" title="Posts by demongo" rel="author">Jone</a> </li>
                                <li><span>17 Mar 2016</span> </li>
                            </ul>
                            <h4 class="dez-title m-t0"><a href="#">How To Build A garden Plan</a></h4>
                            <p class="m-a0">Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer...</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="dez-box">
                        <div class="dez-media"> 
                            <a href="#" class="text-primary"><img src="images/our-services/service/pic4.jpg" alt=""></a> 
                        </div>
                        <div class="dez-info p-a20 border-1">
                            <ul class="blog-info text-primary">
                                <li>By <a href="#" title="Posts by demongo" rel="author">Demongo</a> </li>
                                <li><span>17 Mar 2016</span> </li>
                            </ul>
                            <h4 class="dez-title m-t0"><a href="#">Earn landscaping Award</a></h4>
                            <p class="m-a0">Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Latest Blog END -->