<!-- Services -->
<div class="section-full bg-img-fix overlay-black-dark content-inner-1" style="background-image:url(images/background/bg3.jpg);">
    <div class="container">
        <div class="section-head text-center text-white">
            <h3 class="h3 text-uppercase">Our Best <span class="text-primary">Services</span></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
        </div>
        <div class="section-content">
            <div class="clearfix blog-carousel owl-carousel owl-none">
                <div class="item">
                    <div class="dez-box">
                        <div class="dez-media"> <a href="#"><img src="images/our-services/service/pic1.jpg" alt=""></a> </div>
                        <div class="dez-info p-a20 text-center bg-gray">
                            <div class="p-lr20">
                                <h4 class="m-a0 bg-primary service-head"><a href="#">Watering Garden</a></h4>
                            </div>	
                            <p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry..Lorem Ipsum is simply Ipsum is simply dummy text of the..</p>
                            <div class="m-t20">
                                <a href="#" class="site-button radius-xl">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="dez-box">
                        <div class="dez-media"> <a href="#"><img src="images/our-services/service/pic2.jpg" alt=""></a> </div>
                        <div class="dez-info p-a20 text-center bg-gray">
                            <div class="p-lr20">
                                <h4 class="m-a0 bg-primary service-head"><a href="#">Tree Cleaning</a></h4>
                            </div>	
                            <p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry..Lorem Ipsum is simply Ipsum is simply dummy text of the..</p>
                            <div class="m-t20">
                                <a href="#" class="site-button radius-xl">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="dez-box">
                        <div class="dez-media"> <a href="#"><img src="images/our-services/service/pic3.jpg" alt=""></a> </div>
                        <div class="dez-info p-a20 text-center bg-gray">
                            <div class="p-lr20">
                                <h4 class="m-a0 bg-primary service-head"><a href="#">Rubbish Pemoval</a></h4>
                            </div>	
                            <p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry..Lorem Ipsum is simply Ipsum is simply dummy text of the..</p>
                            <div class="m-t20">
                                <a href="#" class="site-button radius-xl">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="dez-box">
                        <div class="dez-media"> <a href="#"><img src="images/our-services/service/pic4.jpg" alt=""></a> </div>
                        <div class="dez-info p-a20 text-center bg-gray">
                            <div class="p-lr20">
                                <h4 class="m-a0 bg-primary service-head"><a href="#">Planting Tree</a></h4>
                            </div>	
                            <p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry..Lorem Ipsum is simply Ipsum is simply dummy text of the..</p>
                            <div class="m-t20">
                                <a href="#" class="site-button radius-xl">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="dez-box">
                        <div class="dez-media"> <a href="#"><img src="images/our-services/service/pic5.jpg" alt=""></a> </div>
                        <div class="dez-info p-a20 text-center bg-gray">
                            <div class="p-lr20">
                                <h4 class="m-a0 bg-primary service-head"><a href="#">Certified Experts </a></h4>
                            </div>	
                            <p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry..Lorem Ipsum is simply Ipsum is simply dummy text of the..</p>
                            <div class="m-t20">
                                <a href="#" class="site-button radius-xl">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="dez-box">
                        <div class="dez-media"> <a href="#"><img src="images/our-services/service/pic6.jpg" alt=""></a> </div>
                        <div class="dez-info p-a20 text-center bg-gray">
                            <div class="p-lr20">
                                <h4 class="m-a0 bg-primary service-head"><a href="#">24/7 Support Center</a></h4>
                            </div>	
                            <p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry..Lorem Ipsum is simply Ipsum is simply dummy text of the..</p>
                            <div class="m-t20">
                                <a href="#" class="site-button radius-xl">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services END -->