 <!-- Meet Our Team -->
 <div class="section-full bg-white content-inner dez-team-1">
    <div class="container">
        <div class="section-head text-center ">
            <h3 class="h3 text-uppercase">Meet Our <span class="text-primary">Team</span></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
        </div>
        <div class="section-content ">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="dez-box m-b30">
                        <div class="dez-media dez-media-left dez-img-overlay6 dez-img-effect "> 
                            <a href="javascript:;"> <img src="images/our-team/pic9.jpg" alt=""> </a>
                        </div>
                        <div class="dez-info p-tb30 p-lr10 border-1 text-center">
                            <h4 class="dez-title m-b5 m-t0"><a href="javascript:;">Jone Doe</a></h4>
                            <strong class="dez-member-position">Senor Vice President</strong> 
                            <p class="m-t10">Lorem ipsum dolor Fusce varius euismod lacus eget feugiat rorem ipsum..</p>
                            <ul class="dez-social-icon dez-social-icon-lg">
                                <li><a href="javascript:void(0);" class="fa fa-facebook site-button"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-twitter site-button"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-linkedin site-button"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-google-plus site-button"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="dez-box m-b30">
                        <div class="dez-media dez-media-left dez-img-overlay6 dez-img-effect "> 
                            <a href="javascript:;"> <img src="images/our-team/pic10.jpg" alt=""> </a>
                        </div>
                        <div class="dez-info p-tb30 p-lr10 border-1 text-center">
                            <h4 class="dez-title m-b5 m-t0"><a href="javascript:;">Fahima Zerin</a></h4>
                            <strong class="dez-member-position">Senor Vice President</strong> 
                            <p class="m-t10">Lorem ipsum dolor Fusce varius euismod lacus eget feugiat rorem ipsum..</p>
                            <ul class="dez-social-icon dez-social-icon-lg">
                                <li><a href="javascript:void(0);" class="fa fa-facebook site-button"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-twitter site-button"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-linkedin site-button"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-google-plus site-button"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="dez-box m-b30">
                        <div class="dez-media dez-media-left dez-img-overlay6 dez-img-effect "> 
                            <a href="javascript:;"> <img src="images/our-team/pic11.jpg" alt=""> </a>
                        </div>
                        <div class="dez-info p-tb30 p-lr10 border-1 text-center">
                            <h4 class="dez-title m-b5 m-t0"><a href="javascript:;">Hackson Willingham</a></h4>
                            <strong class="dez-member-position">Senor Vice President</strong> 
                            <p class="m-t10">Lorem ipsum dolor Fusce varius euismod lacus eget feugiat rorem ipsum..</p>
                            <ul class="dez-social-icon dez-social-icon-lg">
                                <li><a href="javascript:void(0);" class="fa fa-facebook site-button"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-twitter site-button"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-linkedin site-button"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-google-plus site-button"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="dez-box m-b30">
                        <div class="dez-media dez-media-left dez-img-overlay6 dez-img-effect "> 
                            <a href="javascript:;"> <img src="images/our-team/pic12.jpg" alt=""> </a>
                        </div>
                        <div class="dez-info p-tb30 p-lr10 border-1 text-center">
                            <h4 class="dez-title m-b5 m-t0"><a href="javascript:;">Konne Backfield</a></h4>
                            <strong class="dez-member-position">Senor Vice President</strong> 
                            <p class="m-t10">Lorem ipsum dolor Fusce varius euismod lacus eget feugiat rorem ipsum..</p>
                            <ul class="dez-social-icon dez-social-icon-lg">
                                <li><a href="javascript:void(0);" class="fa fa-facebook site-button"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-twitter site-button"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-linkedin site-button"></a></li>
                                <li><a href="javascript:void(0);" class="fa fa-google-plus site-button"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Meet Our Team END -->