            <!-- Testimonials -->
            <div class="section-full bg-img-fix content-inner-1 overlay-black-middle" style="background-image:url(/images/background/bg3.jpg);">
                <div class="container">
                    <div class="section-head text-center text-white">
                        <h3 class="h3"> Testimonials</h3>
                        <div class="dez-separator bg-primary"></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
                    </div>
                    <div class="row">
						<div class="col-lg-12 ">
							<div class="testimonial-five testimonial-7 owl-carousel owl-none">
							   <div class="item">
									<div class="testimonial-7">
										<div class="testimonial-text">
											<p class="p-b20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an printer took a galley of type and scrambled it to make  when an printer took a galley of type and scrambled it to when an printer took a of type and..</p>
										</div>
										<div class="testimonial-detail clearfix info">
											<div class="testimonial-pic"><img src="/images/testimonials/pic1.jpg" alt="" width="100" height="100"></div>
											<p class=" m-b0 text-white"><strong>David Matin</strong> <span>Student</span></p>
										</div>
									</div>
								</div>	
								<div class="item">
									<div class="testimonial-7">
										<div class="testimonial-text">
											<p class="p-b20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an printer took a galley of type and scrambled it to make  when an printer took a galley of type and scrambled it to when an printer took a of type and..</p>
										</div>
										<div class="testimonial-detail clearfix info">
											<div class="testimonial-pic"><img src="/images/testimonials/pic2.jpg" alt="" width="100" height="100"></div>
											<p class=" m-b0 text-white"><strong>David Matin</strong> <span>Businessman</span></p>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
                </div>
            </div>
            <!-- Testimonials End -->
